<div class='centerhome jumbotron'>
  <h1>Welcome to the Testing App</h1>

  <h2>This is the homepage for the <a href="https://www.udemy.com/pro-rubyonrails">Professional Ruby on Rails Developer</a> series
    on <a href="https://www.udemy.com">Udemy</a>
  </h2>
</div>